@import "./palette.scss";
@import "./consts.scss";

// priority order:
// 1. customs
// 2. wixTypography
// 3. default font values

$paragraphFontSize: 16px;
$quoteFontSize: 18px;
$quoteFontHeight: 26px;
$minHeight: 1.5em;


$font-sizes: ("p": $paragraphFontSize, "quote": $quoteFontSize,
              "link": $paragraphFontSize, "hashtag": $paragraphFontSize,
              "h1": $headerOneSize, "h2": $headerTwoSize, "h3": $headerThreeSize,
              "h4": $headerFourSize, "h5": $headerFiveSize, "h6": $headerSixSize);

$text-heights: ("p": $minHeight, "quote": $quoteFontHeight,
              "link": $minHeight, "hashtag": $minHeight,
              "h1": $headerOneHeight, "h2": $headerTwoHeight, "h3": $headerThreeHeight,
              "h4": $minHeight, "h5": $minHeight, "h6": $minHeight);

@mixin ricosTypography($name) {
  @if $name == 'quote' {
    border-left-color: $ricos-quote-color;
    border-right-color: $ricos-quote-color;
  }
  @else if $name == 'hashtag' {
    color: $ricos-hashtag-color;
  }
  @else if $name == 'link' {
    color: $ricos-link-color;
  }
  font-family: var(--ricos-custom-#{$name}-font-family);
  font-size: var(--ricos-custom-#{$name}-font-size, map-get($font-sizes, $name));
  font-style: var(--ricos-custom-#{$name}-font-style);
  font-weight: var(--ricos-custom-#{$name}-font-weight);
  text-decoration: var(--ricos-custom-#{$name}-text-decoration, none);
  @if $name == 'h1' or $name == 'h2' or $name == 'h3' {
    min-height: var(--ricos-custom-#{$name}-min-height, map-get($text-heights, $name));
    line-height: var(--ricos-custom-#{$name}-line-height, map-get($text-heights, $name));
  }
}

%regularText {
  font-family: $ricos-font-family;
}

.fontElementMap {
  @extend %regularText;
}

:global {
  %glob_regularText {
    font-family: $ricos-font-family;
  }

  .glob_fontElementMap {
    @extend %glob_regularText;
  }
}
