$ricos-font-family: var(--ricos-font-family, (HelveticaNeue, Helvetica, Arial));

%regularText {
  font-family: $ricos-font-family;
}

.fontElementMap {
  @extend %regularText;
}

:global {
  %glob_regularText {
    font-family: $ricos-font-family;
  }

  .glob_fontElementMap {
    @extend %glob_regularText;
  }
}
