@import "./consts";
@import "./mixins";

.alignLeft {
  /* rtl:ignore */
  z-index: 1;

  &:not(.textWrapNowrap) {
    /* rtl:begin:ignore */
    float: left;
    margin-right: $innerSpacing;
    margin-left: 0;
    /* rtl:end:ignore */
  }
}

.alignRight {
  /* rtl:ignore */
  z-index: 1;

  &:not(.textWrapNowrap) {
    /* rtl:begin:ignore */
    float: right;
    margin-left: $innerSpacing;
    margin-right: 0;
    /* rtl:end:ignore */
  }
}

.alignCenter {
  display: block;

  &:not(.textWrapNowrap):not(.sizeFullWidth) {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
}

.sizeFullWidth,
.textWrapNowrap {
  width: 100%;
  .renderedInTable & {
    margin: 0 -8px;
    width: auto;
  }
}

.sizeContent {
  &:not(.textWrapNowrap) {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.sizeSmall {
  &:not(.textWrapNowrap) {
    width: 350px;
    .renderedInTable & {
      width: 50%;
    }
  }
}

.sizeSmallCenter {
  &:not(.textWrapNowrap) {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    .renderedInTable & {
      width: 150px;
    }
  }
}

.flex {
  display: flex;
}
