$action-color: var(--ricos-action-color);
$action-color-tuple: var(--ricos-action-color-tuple);
$action-color-fallback: var(--ricos-action-color-fallback);
$action-color-fallback-tuple: var(--ricos-action-color-fallback-tuple);
$action-color-fallback-bright: #ffffff;
$action-color-fallback-bright-tuple: 255,255,255;               // #ffffff
$primary-text-color: var(--ricos-text-color);
$primary-text-color-tuple: var(--ricos-text-color-tuple);
$background-color: var(--ricos-background-color);
$background-color-tuple: var(--ricos-background-color-tuple);

$primary-color-dark: #455a64;
$primary-color-light: #fbfbfb;
$primary-text-color-light: #e6e6e6;
$secondary-text-color: #757575;
$modal-input-color: #333333;
$toolbar-font-color: #333333;
$toolbar-border-color: #ededed;
$fallbackColor: #000000;
$fallbackColorBright: #ffffff;

:root {
  --ricos-text-color: #212121;
  --ricos-text-color-tuple: 33,33,33;                           // #212121
  --ricos-action-color: #0261ff;
  --ricos-action-color-tuple: 2,97,255;                         // #0261ff
  --ricos-action-color-fallback: #0261ff;
  --ricos-action-color-fallback-tuple: 2,97,255;                // #0261ff

  // Ricos-only vars (defined in ThemeGenerator.ts):
  // --ricos-background-color: <undefined>
  // --ricos-background-color-tuple: <undefined>
}