:global {
    @import "~@wix/draft-js/dist/Draft.css";  
    .public-DraftStyleDefault-listLTR {
      /*!rtl:begin:ignore*/
      direction: ltr;
      /*!rtl:end:ignore*/
    }
  
    .public-DraftStyleDefault-listRTL {
      /*!rtl:begin:ignore*/
      direction: rtl;
      text-align: right;
      /*!rtl:end:ignore*/
    }
}

.public-DraftStyleDefault-block-depth0.public-DraftStyleDefault-ltr{
  margin-left: 0em !important;
}

.public-DraftStyleDefault-block-depth1.public-DraftStyleDefault-ltr{
  margin-left: 1.5em !important;
}

.public-DraftStyleDefault-block-depth2.public-DraftStyleDefault-ltr{
  margin-left: 3em !important;
}

.public-DraftStyleDefault-block-depth3.public-DraftStyleDefault-ltr{
  margin-left: 4.5em !important;
}

.public-DraftStyleDefault-block-depth4.public-DraftStyleDefault-ltr{
  margin-left: 6em !important;
}

.public-DraftStyleDefault-block-depth0.public-DraftStyleDefault-rtl{
  margin-right: 0em !important;
}

.public-DraftStyleDefault-block-depth1.public-DraftStyleDefault-rtl{
  margin-right: 1.5em !important;
}

.public-DraftStyleDefault-block-depth2.public-DraftStyleDefault-rtl{
  margin-right: 3em !important;
}

.public-DraftStyleDefault-block-depth3.public-DraftStyleDefault-rtl{
  margin-right: 4.5em !important;
}

.public-DraftStyleDefault-block-depth4.public-DraftStyleDefault-rtl{
  margin-right: 6em !important;
}

.public-DraftStyleDefault-ol,
.public-DraftStyleDefault-ul {
  margin: 0;
  padding: 0;
  direction: ltr;
}
