:global {
    @import "~@wix/draft-js/dist/Draft.css";  
    .public-DraftStyleDefault-listLTR {
      /*!rtl:begin:ignore*/
      direction: ltr;
      /*!rtl:end:ignore*/
    }
  
    .public-DraftStyleDefault-listRTL {
      /*!rtl:begin:ignore*/
      direction: rtl;
      text-align: right;
      /*!rtl:end:ignore*/
    }
}

.public-DraftStyleDefault-ol,
.public-DraftStyleDefault-ul {
  margin: 0;
  padding: 0;
  direction: ltr;
}