  .separator {
    display: block;
    margin-top: 16px;
    width: 100%;
    height: 1px;
    background-color: black;
  }
  
  .videoSettingsTitle {
    font-size: 20px;
    padding: 24px 0 0 24px;
  }
  
  .videoSettings_toggleContainer{
    position: relative;
    padding: 0 24px;
    svg{
      position: absolute;
      top: 23px;
      left: 210px;
      height: 24px;
      cursor: pointer;
    }
    p{
      font-size: 16px;
    }
    >div {
      padding-top: 24px; 
    }
  }
  
  .videoSettings_mobile {
    p{
      font-size: 14px;
    }
    svg{
      top: 14px;
      left: 191px;
    }
    .videoSettings_toggleContainer{
      >div {
      padding-top: 15px; 
    }}
  
  }
  
  .videoSettings_footer {
    bottom: 85px;
  }