@import '~wix-rich-content-common/dist/statics/styles/consts';
@import '~wix-rich-content-common/dist/statics/styles/mixins';
@import '~wix-rich-content-common/dist/statics/styles/palette';

.action_buttons_button {
  border: 1px solid $floating-action-color;
  outline: none;
  background: transparent;
  line-height: 1.5;
  font-size: 14px;
  font-weight: 300;
  cursor: pointer;
  flex: none;
  height: 32px;
  width: 88px;
  padding: 0;
  color: $floating-action-color;
  margin: 0 6px;
  .mobile & {
    font-size: 16px;
    width: 50px;
    color: $fallbackColor;
    background: transparent;
    border: none;
  }
}

.action_buttons_button_update {
  background-color: $floating-action-color;
  color: white;
  .mobile & {
    background-color: transparent;
    color: $floating-action-color;
  }
}

.action_buttons {
  display: flex;
  justify-content: center;
  margin: 12px;
  &.mobile {
    justify-content: space-between;
    margin: 5px auto;
  }
}
