@import '~wix-rich-content-common/dist/statics/styles/palette.scss';
@import '~wix-rich-content-common/dist/statics/styles/mixins.scss';


.customColorPicker_editable_input_container {
  margin: 12px auto;
  display: flex; 
  justify-content: center; 
  align-items: center;
  height: 32px;
  position: relative;
  @include phone {
    padding-top: 9px;
    padding-bottom: 17px;
  }
}

.customColorPicker_input_label {
  font-size: 14px;
  color:#757575;
  width: auto;
  line-height: 20px;
  display: inline-block;
}

.customColorPicker_input_container {
  font-size: 14px;
  color: #333333;
  width: 126px;
  margin: 0 8px;
  display: inline-block;
  height: inherit;
}  

.customColorPicker_input_container:hover {
  border-bottom: 1px solid rgba($action-color-fallback-tuple, 0.2);
}

.customColorPicker_input_container:focus-within {
  border-bottom: 1px solid $action-color-fallback;
}
