@import '~wix-rich-content-common/dist/statics/styles/consts';
@import "~wix-rich-content-common/dist/statics/styles/mixins";
@import '~wix-rich-content-common/dist/statics/styles/palette';

.colorPickerDialog {
  padding: 12px;    
  width: 211px;
  @include phone {
    margin: 27px 18px 15px;
  }
}

.colorPickerDialog_button {
  border: 1px solid $action-color-fallback;;
  outline: none;
  background: transparent;
  line-height: 1.5;
  font-size: 14px;
  font-weight: 300;
  cursor: pointer;
  flex: none;
  height: 32px;
  width: 87px;
  padding: 0;
  color: $action-color-fallback;
  margin: 0 6px;
}

.colorPickerDialog_button_update {
  background-color: $action-color-fallback;
  color: white;
}

.colorPickerDialog_buttons {
  display: flex;
  justify-content:center;
}

.colorPickerDialog_separator { 
  border: none;
  height: 1px;
  background: rgba(51, 51, 51, 0.1);
  width: inherit;
  margin: 12px -12px;
}
