@import '~wix-rich-content-common/dist/statics/styles/palette.scss';
@import '~wix-rich-content-common/dist/statics/styles/mixins.scss';


.customColorPicker_editable_input_container {
  margin: 12px auto;
  justify-content: center;
  display: flex;
  align-items: center;
  height: 32px;
  position: relative;
  .mobile & {
    justify-content: space-between;
    height: 40px;
    padding: 0px;
    margin: 20px;
  }
}

.customColorPicker_input_label {
  font-size: 14px;
  color: #757575;
  width: auto;
  line-height: 20px;
  display: inline-block;
  .mobile & {
    font-size: 16px;
  }
}

.customColorPicker_input_container {
  width: 126px;
  font-size: 14px;
  margin: 0 8px;
  color: #333333;
  display: inline-block;
  height: inherit;
  position: relative;
  .mobile & {
    max-width: 233px;
    font-size: 16px;
    width: 75%;
  }
}

.customColorPicker_currentColor {
  width: 20px;
  padding: 0;
  height: 20px;
  border-radius: 15px;
  border: solid 1px #e0e0e3;
  .mobile & {
    width: 24px;
    height: 24px;
  }
}

.hexColorInput {
  max-height: 100%;
  border: 1px solid;
  padding-left: 20px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
  .mobile & {
    padding-left: 32px;
  }
}
.hashtagIcon {
  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translate(0, -50%);
  .mobile & {
    height: 14px;
    left: 10px;
  }
}

:global {
  @import '~react-colorful/dist/index.css';

  .react-colorful {
    width: 187px !important;
    margin: 12px auto;
    .react-colorful__saturation {
      height: 126px;
    }
    height: 100% !important;
    .mobile & {
      margin: 0 auto;
      width: 100% !important;
    }

    .react-colorful__saturation {
      flex-grow: 0;
      border-radius: 0;
      overflow: auto;
      border: none;
      .mobile & {
        height: 200px !important;
      }
      .react-colorful__interactive {
        overflow: hidden;
      }
    }

    .react-colorful__pointer {
      width: 16px;
      height: 16px;
    }

    .react-colorful__last-control {
      border-radius: 0;
      height: 12px;
      .react-colorful__interactive {
        position: absolute;
        left: 0;
        top: -5px;
        height: 22px;
        overflow-x: hidden;
      }
    }

    .react-colorful__pointer.react-colorful__hue-pointer {
      z-index: 3;
    }

    .react-colorful__pointer.react-colorful__hue-pointer .react-colorful__pointer-fill {
      box-shadow: 0 1px 1px rgba(9, 9, 9, 0.1);
      background-color: #ffffff !important;
      filter: blur (10);
    }
  }
}
