@import '~wix-rich-content-common/dist/statics/styles/palette';

.root {
  .header {
    top: 0;
    left: 0;
    width: 100vw;
    line-height: 50px;
    box-sizing: border-box;
    z-index: 5;
    &:not(.media) {
      position: fixed;
      display: block;
      padding: 0 9px;
      background: $action-color-fallback;
    }
  }
  
  .headerPlaceholder {
    display: block;
    position: relative;
    width: 100vw;
    height: 50px;
    background: transparent;
  }

  .button {
    border: none;
    background-color: transparent;
    color: #fff;
    &:not(.media) {
      font-size: 14px;
      line-height: 40px;
      padding: 0 9px;
    }
  }

  .media {
    border-bottom: 1px solid #ededed;
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
    background: $background-color;
    .button{
      padding: 14px 12px 15px 18px;
      font-size: 16px;
    }
    .done {
      color: $action-color;
    }
    .cancel {
      color: inherit;
    }
  }

  .menuIcon {
    float: right;

    svg {
      width: 20px;
      margin: 6px 0 -6px 0;

      path {
        fill: #fff;
      }
    }
  }

  .menu {
    position: fixed;
    top: 40px;
    right: 20px;
    z-index: 6;
    background: white;
    box-shadow: 0 0 0 1px #ededed;
    padding: 0px 18px;
    border-width: 4px 0;
    border-color: white;
    line-height: 42px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;

    &:hover {
      background: $action-color-fallback;
      color: white;
    }
  }

  .done {
    float: right;
  }

  .cancel {
    float: left;
  }

  &.absolute {
    .header {
      position: absolute;
      width: 100%;
    }
    
    .headerPlaceholder {
      display: none;
    }

    .menu {
      position: absolute;
    }

  }
}