
.card {    
    :global {
        .vertical-embed-card {            
            border-color: rgba(var(--ricos-text-color-tuple), 0.2);
            background-color: var(--ricos-background-color);
        }

        .vertical-embed-content {        
            .vertical-embed-title {
                font-family: var(--ricos-custom-h2-font-family);
                color: var(--ricos-text-color);
            }

            .vertical-embed-subtitle, .vertical-embed-buttonText {
                font-family: var(--ricos-custom-p-font-family);
                color: var(--ricos-text-color);
            }

            .vertical-embed-button {
                background-color: var(--ricos-action-color);
            }        

        }
    }
}
