.moreMenu {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.06);
    border: solid 1px rgba(51, 51, 51, 0.1);
    background-color: #ffffff;
    border-radius: 2px;
    font-size: 12px;
    align-items: center;
    &:hover {
        cursor: pointer;
    }
    position: absolute;
    top: 24px;
    width: max-content;
    padding: 8px 15px;
    // display: grid;
    // grid-row-gap: 11px;
    .option {
        font-size: 12px;
    }
    &.colorPickerWrapper {
        left: 0px;
        z-index: 3;
        top: 40px;
    }
}