@import "~wix-rich-content-common/dist/statics/styles/mixins";

.map_settings {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.map_settings * p {
  margin: 0px;
}

.map_settings_modal_desktop {
  @extend .map_settings;
  padding: 0px 40px;
}

.map_settings_modal_mobile{
  @extend .map_settings;
  height: 100%;
  padding: 0px 20px;
  padding-bottom: 30px;
}

.header_desktop {
  height: 120px;
  flex: none;
  padding-top: 42px;
  padding-bottom: 34px;
  box-sizing: border-box;
}

.header_mobile{
  padding: 30px 0px;
}

.map_settings_modal_settings_desktop {
  flex: 1 1 auto;
  overflow-y: auto;
  min-height: 0px;
}

.map_settings_modal_settings_mobile {

}

.map_settings_modal_footer_button {
  width: 182px;
  height: 42px;
}

.map_settings_modal_footer_cancel_button {
  @extend .map_settings_modal_footer_button;
  margin-right: 32px;
}

.map_settings_modal_footer_save_button {
  @extend .map_settings_modal_footer_button;
}


.map_settings_modal_footer_desktop {
  height: 124px;
  flex: none;
  padding-top: 40px;
  padding-bottom: 42px;
  box-sizing: border-box;
}

.map_settings_modal_mobile_navbar {
  display: flex;
  flex-direction: row;
  background-color: #9a87ce;
  padding: 0px 20px;
  color: #c1c1c1;
  min-height: 50px;
}

.map_settings_modal_mobile_navbar p {
  margin: 0px;
}

.map_settings_modal_mobile_navbar_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.map_settings_modal_mobile_navbar_save_button {
  @extend .map_settings_modal_mobile_navbar_button;
  margin-left: auto;
}

.map_settings_modal_mobile_navbar_cancel_button {
  @extend .map_settings_modal_mobile_navbar_button;
}


.map_settings_modal_location_suggestion {
  font-size: 16px;
  line-height: 24px;
  padding-left: 24px;
  padding-right: 15px;
  min-height: 42px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &:hover {
    background-color: rgba(0, 0, 0, 0.06);
  }
}

.button_secondary {
  border: 1px solid #9a87ce;
  font-size: 16px;
  line-height: 1.5;
  color: #9a87ce;

  &:hover {
    opacity: 0.6;
    background: transparent;
    color: #9a87ce;
  }
}

.button_primary {
  background: #9a87ce;
  font-size: 16px;
  line-height: 1.5;

  &:hover {
    opacity: 0.8;
    color: #ffffff;
  }
}

.title_desktop {
  font-size: 30px;
  line-height: 1.47;
}

.map_settings_modal_text_input_label {
  font-size: 14px;
  margin-bottom: 8px;
}

.divider_wrapper {
  padding: 40px 0px;

  @include phone {
    padding: 36px 0px;
  }
}

.divider {
  height: 1px;
  opacity: 0.2;
  background-color: #000000;
}

.textInput_input {
  font-size: 16px;
  line-height: 1.5px;
  text-overflow: ellipsis;
  padding-right: 45px;
  opacity: 0.6;
  border-color: #000000;

  &:hover {
    opacity: 1;
  }

  &:focus {
    opacity: 1;
  }

  @include phone {
    border-top: none;
    border-right: none;
    border-left: none;
  }
}

.map_modes {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;

  @include phone {
    padding-top: 24px;
  }
}

.map_modes > div {
  margin-right: 30px;

  @include phone {
    margin-right: 35px;
  }
}

.labeled_image_terrain_mode_root {
  @include phone {
    margin-top: 15px;
  }
}

.map_settings_modal_location_display_name_settings_section {
  @include phone {
    margin-bottom: 42px;
  }
}

.labeled_toggle_input_container {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 24px;

  &:hover {
    opacity: 0.6;
  }
}


.labeled_toggle_input_root {
  margin-left: auto;
  display: flex;
}

.labeled_toggle_root {
  display: flex;
}

.labeled_toggle_root + .labeled_toggle_root {
  padding-top: 30px;

  @include phone {
    padding-top: 36px;
  }
}

.labeled_toggle_checkbox_input {
  width: 100%;
  height: 100%;
  margin: 0
}

.labeled_toggle_switch {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  pointer-events: none
}

.labeled_toggle_label_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.labeled_toggle_label {
  font-size: 14px;
}

.labeled_toggle_track {
  flex: 1;
  height: 100%;
  border-radius: 12px;
}

.labeled_toggle_slider {
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  transition: transform 0.3s;
}

.map_settings_modal_search_icon_wrapper {
  position: relative;
}

.map_settings_modal_search_icon {
  position: absolute;
  z-index: 10;
  right: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding-right: 13px;
}

.map_settings_modal_location_input_settings_section {
  padding-top: 16px;
  padding-bottom: 30px;
}

.labeled_image_img {
  height: 88px;
  width: 88px;
  box-sizing: border-box;

  @include phone {
    height: 70px;
    width: 70px;
  }
}

.labeled_image_img_wrapper {
  margin-top: 12px;

  @include phone {
    margin-top: 6px;
  }
}

.labeled_image_label {
  font-size: 14px;
}