@import '~wix-rich-content-common/dist/statics/styles/consts';
@import '~wix-rich-content-common/dist/statics/styles/mixins';
@import '~wix-rich-content-common/dist/statics/styles/palette';

.action_buttons {
  display: flex;
  justify-content: space-between;
  margin: 0;
  &.mobile {
    margin: 5px auto;
  }
}

.action_buttons_button {
  border: 1px solid $settings-action-color-fallback;
  outline: none;
  background: transparent;
  cursor: pointer;
  width: calc(50% - 6px);
  padding: 0;
  color: $settings-action-color-fallback;
  margin: 0 6px;
}

.action_buttons_button_save {
  background-color: $settings-action-color-fallback;
  color: $primary-text-color-light;
  & :hover {
    background-color: rgba($settings-action-color-fallback, 0.7);
  }
  .mobile & {
    background-color: transparent;
    color: $settings-action-color-fallback;
  }
}

.xs {
  max-width: 132px;
  line-height: 32px;
  height: 32px;
  font-size: 14px;
  .mobile {
    font-size: 16px;
    width: 50px;
    color: $fallbackColor;
    background: transparent;
    border: none;
  }
}
