@import '~wix-rich-content-common/dist/statics/styles/consts';
@import '~wix-rich-content-common/dist/statics/styles/mixins';
@import '~wix-rich-content-common/dist/statics/styles/palette';

.action_buttons {
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: 100%;
}

.action_buttons_button {
  border: 1px solid $settings-action-color-fallback;
  outline: none;
  width: calc(50% - 6px);
  max-width: 132px;
  padding: 0;
  &.mobile {
    font-size: 16px;
    color: $fallbackColor;
    background: transparent;
    border: none;
  }
}

.action_buttons_button_save {
  background-color: $settings-action-color-fallback;
  color: $primary-text-color-light;
  .mobile & {
    background-color: transparent;
    color: $settings-action-color-fallback;
  }
}

.sm_font_size {
  font-size: 16px;
}

.xs {
  line-height: 32px;
  height: 32px;
  font-size: 14px;
}

.sm {
  @extend.sm_font_size;
  line-height: 36px;
  height: 36px;
}

.md {
  @extend.sm_font_size;
  line-height: 40px;
  height: 40px;
}

.lg {
  @extend.sm_font_size;
  line-height: 48px;
  height: 48px;
}
