{
  "presets": [
    ["env", {
      "modules": false,
      "loose": true
    }],
    "stage-0",
    "react"
  ],
  "plugins": [
    ["transform-class-properties", { "loose": true }],
    "transform-runtime",
    "syntax-dynamic-import"
  ],
  "env": {
    "commonjs": {
      "presets": [
        ["env", {
          "modules": "commonjs",
          "loose": true
        }],
        "stage-0",
        "react"
      ]
    },
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs",
        "dynamic-import-node"
      ]
    }
  }
}
