:global {
  .LinesEllipsis-ellipsis {
  }
  .LinesEllipsis--clamped wbr {
    display: none;
  }
  .LinesEllipsis--clamped .LinesEllipsis-unit {
    display: none;
  }
}

.readMore {
  color: #000;
}

.readMore_label {
  font-weight: normal;
  text-decoration: none;
  color: #0261ff;
  font-size: 14px;
  &:hover {
    text-decoration: underline;
  }
}

.readMore_wrapper {
  width: 100%;

  &.label_start {
    text-align: start;
  }
  &.label_center {
    text-align: center;
  }
  &.label_end {
    text-align: end;
  }
}
