:global {
  .LinesEllipsis-ellipsis {
    font-weight: bold;
  }
}

.readMore {
  color: #000;
}

.readMore_label {
  font-weight: normal;
  text-decoration: none;
  color: #000;
  &:hover {
    text-decoration: underline;
  }
}

.readMore_wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  cursor: pointer;
  z-index: 9;
}
