@import '~wix-rich-content-common/dist/statics/styles/mixins';
@import '~wix-rich-content-common/dist/statics/styles/palette';
@import '~wix-rich-content-common/dist/statics/styles/consts';

.toolbarButton_wrapper {
  display: flex;
  &.renderAsGroupButton {
    height: 34px;
  }

  &:hover {
    button {
      background-color: rgba($fallbackColorTuple, 0.06);
    }
    // .inlineToolbarButton_icon,
    // .inlineToolbarButton_icon svg,
    // .inlineToolbarDropdownButton_icon svg {
    //   @include fillWithActionColor();
    // }
  }
  &.toolbarButton_active button {
    background-color: rgba($action-color-fallback-tuple, 0.1);
  }
}

.toolbarButton {
  display: flex;
  background: transparent;
  color: $toolbar-font-color;
  padding: 4px;
  border: 0 none;
  line-height: normal;
  width: 100%;
  text-align: left;
  line-height: 1.5;
  cursor: pointer;
  // &:hover,
  &:focus {
    outline: 5px auto Highlight !important;
    outline: 5px auto -webkit-focus-ring-color !important;
  }
  &:disabled, &.disabled {
    cursor: default;
    opacity: 0.4;
  }
  &.renderAsContextButton {
    padding: 4px 20px;
  }
}

.toolbarButton_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $icon-width;
  height: $icon-width;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;

  svg {
    width: unset;
    height: unset;
  }

  @include svg-fill;
}

.toolbarButton_active {
  color: $action-color-fallback;
  fill: $action-color-fallback;
  @include svg-fill;
}

.toolbarButton_menuButton {
  width: max-content !important;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-family: HelveticaNeue;
  font-weight: 500;
  // margin: 0 0 0 5px !important;
}

.toolbarDropdownButton_arrowIcon {
  width: 12px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 4px;
  svg {
    width: unset;
    height: unset;
  }
}
