@import '~wix-rich-content-common/dist/statics/styles/fonts';
@import '~wix-rich-content-common/dist/statics/styles/palette';

.inPluginInput {
  border: none;
  line-height: 21px;
  width: 100%;
  position: inherit;
  z-index: 1;
  font: inherit;
  color: $primary-text-color;
  @include ricosTypography('p', false);
  font-size: 14px;

  &.link {
    @include ricosTypography('link', true);
    color: $ricos-link-color;
    font-size: 14px;
  }

  &[readonly] {
    cursor: pointer;
  }
}
