.inPluginInput {
    line-height: 21px;
    border: none;
    width: 100%;
    z-index: 1;
    font: inherit;
    font-size: 14px;

    &Viewer {
        @extend .inPluginInput;
        cursor: pointer;
    }
}