.accordionContainer{
    display: flex;
    height: 42px;
    align-items: center;
}

.icon{
    display: flex;
    padding-left: 17px;
    padding-right: 16px;
    background: transparent;
    border: none;
}
