.accordionViewer{
  padding-top: 7px;
}

.ltr{
  direction: ltr;
  .dndIcon {
    margin-left: -25px;
    position: absolute;
  }
}

.rtl{
  direction: rtl;
  .dndIcon {
    margin-right: -25px;
    position: absolute;
  }
}