.accordionContainer{
    display: grid;
}

.title{
    height: 42px;
    align-items: center;
    display: flex;
    .icon{
        display: flex;
        padding-left: 17px;
        padding-right: 16px;
        background: transparent;
        border: none;
    }
}

.content{
    height: 42px;
    align-items: center;
    display: flex;
    padding-left: 44px;
}