.titleContainer {
  min-height: 42px;
  display: flex;
  align-items: start;
  cursor: auto;
  .title {
    margin-top: 9px;
    flex: 1;
  }
}

.content {
  margin-top: 9px;
  cursor: auto;
  position: relative;
  min-height: 42px;
  margin-inline-start: 48px;
}