.ltr{
  direction: ltr;
  .hoverIcon {
    padding-top: 7px;
    margin-left: -25px;
    position: absolute;
  }
}

.rtl{
  direction: rtl;
  .hoverIcon {
    padding-top: 7px;
    margin-right: -25px;
    position: absolute;
  }
}