.accordionContainer{
    display: grid;
    list-style-type: none;
    font-size: 0;
    padding: 0;
}
.new_pair_button{
    padding: unset;
    border: none;
    cursor: pointer;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.1);
}