.ltr {
  direction: ltr;
  .title {
    min-height: 42px;
    display: flex;
    .icon {
      background: transparent;
      border: none;
      padding-left: 15px;
      z-index: 1;
      cursor: pointer;
      :hover {
        opacity: 0.6;
      }
    }
    .title_content {
      padding-left: 16px;
      padding-top: 7px;
      min-width: 130px;
      cursor: text;
    }
  }
  .content {
    min-height: 42px;
    padding-left: 45px;
    cursor: text;
  }
}

.rtl {
  direction: rtl;
  .title {
    min-height: 42px;
    display: flex;
    .icon {
      background: transparent;
      border: none;
      padding-left: 15px;
      transform: scaleX(-1);
      z-index: 1;
      cursor: pointer;
      :hover {
        opacity: 0.6;
      }
    }
    .title_content {
      padding-top: 7px;
      padding-right: 16px;
      min-width: 130px;
      cursor: text;
    }
  }
  .content {
    min-height: 42px;
    padding-right: 45px;
    cursor: text;
  }
}
.newPairLabel {
  z-index: 1;
  font-family: Avenir;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  cursor: pointer;
}
