.docsEditor {
	background-color: white;
	padding: 10px 10px 15px 10px;
	margin-bottom: var(--ifm-leading);
}

.docsEditor * {
	box-sizing: unset;
}

.ReactModalPortal h2,
.ReactModalPortal h3 {
	box-sizing: unset;
	color: initial;
}
