@import '~wix-rich-content-common/dist/statics/styles/mixins';
@import '~wix-rich-content-common/dist/statics/styles/palette';

.unsplash_items_list_container {
  height: 312px;
  width: 100%;
  padding-right: 10px;
  @include phone {
    height: calc(100vh - 92px);
    width: calc(100vw + 6px);
  }
}

.unsplash_scrollbar_thumb {
  background: #b2b2b2;
  border-radius: 4px;
  width: 6px;
  cursor: pointer;
}

.unsplash_InfiniteScroll_container {
  padding-right: 8px;
  margin-top: 8px;
  margin-left: -2px;
  @include phone {
    padding-right: 0px;
    margin-top: 0px;
    margin-left: 0px;
  }
}

.unsplash_selecter_error_msg {
  width: 100%;
  font-family: Avenir;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #969696;
  padding-top: 129px;
  @include phone {
    padding-top: 113px;
  }
}

.unsplash_spinner_container {
  margin-left: calc(50% - 17px);
  margin-top: calc(25% - 32px);
  @include phone {
    margin-top: calc(25% + 31px);
  }
}
