@import "~wix-rich-content-common/dist/statics/styles/mixins";

%modal_arrow {
  border: solid 1px rgba(255, 255, 255, 0.25);
  box-shadow: 1px 1px rgba(0, 0, 0, 0.1);
  border-width: 0 1px 1px 0;
  padding: 6px;
  position: absolute;
  background: #fff;
  display: block;
  z-index: 6;
  @include phone {
    display: none;
  }
}

.unsplash_modal_arrow_down {
  @extend %modal_arrow;
  transform: rotate(45deg);
  bottom: -7px;
  left: 68px;
}

.unsplash_modal_arrow_up {
  @extend %modal_arrow;
  transform: rotate(-135deg);
  bottom: 364px;
  right: 70px;
  display: none;
}
