.unsplash_navbar_container {
  background-color: #9a87ce;
  width: 100vw;
  height: 50px;
  overflow: hidden;
}
.unsplash_back_arrow_button {
  background: inherit;
  border: solid #fff;
  border-width: 0 1px 1px 0;
  display: inline-block;
  height: 10px;
  width: 10px;
  transform: rotate(135deg);
}
.unsplash_back_arrow_container {
  width: 27px;
  height: 35px;
  float: left;
  padding-top: 15px;
  padding-left: 23px;
}

.unsplash_navbar_title {
  width: calc(100vw - 100px);
  height: 35px;
  float: left;
  font-size: 16px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  padding-top: 15px;
}
