@import '~wix-rich-content-common/dist/statics/styles/mixins';
.unsplash_search_container {
  position: relative;
  margin-right: 12px;
  border-bottom: 1px solid #b1b1b1;
  @include phone {
    height: 50px;
    width: calc(100vw - 40px);
    margin-left: 20px;
  }
}
.textInput_input {
  border: 0;
  padding-left: 23px;
  @include phone {
    height: 50px;
    padding-left: 26px;
  }
}
.textInput {
  max-height: 40px;
  overflow: hidden;
  @include phone {
    max-height: 50px;
  }
}
.unsplash_search_icon {
  position: absolute;
  top: 15px;
  left: 0px;
  z-index: 1;
  @include phone {
    top: 18px;
  }
}
