@import '~wix-rich-content-common/dist/statics/styles/mixins';

.unsplash_player {
  display: block;
  width: 100%;
}

.unsplash_player_container {
  position: relative;
}

.unsplash_imageCaption {
  text-align: center;
  padding: 18px 0;
  font-size: 14px;
  line-height: 21px;
}

.unsplash_image_container::after {
    display: block;
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgba(0,0,0,.3) 100%);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  content: '';
  @include phone{
   
  }
}

.unsplash_image_username {
  position: absolute;
  bottom: 15px;
  left: 22px;
  font-family: Avenir;
  font-size: 14px;
  color: #ffffff;
  line-height: 1.43;
  z-index: 1;
  @include phone{
    bottom: 13px;
    left: 13px;
  }
}
