@import "~wix-rich-content-common/dist/statics/styles/mixins";
@import "~wix-rich-content-common/dist/statics/styles/palette";

.button_sample {
}
.button_sample_container {
}

.button_sample_container:nth-child(3n) {
}

.picked {
}
.button_container {
}
.button_text {
}
.color_picker_container {
}

.color_picker_overlay {
}

.color_picker {
}

.color_picker_label {
}

.picker {
}

.color_picker_picked {
}

.color_picker_dropper {
}

$color1: #fff;
$color2: #eeeeee;
$size: 10px;
%palette {
  background-image: linear-gradient(45deg, $color1 25%, transparent 25%, transparent 75%, $color1 75%),
    linear-gradient(45deg, $color1 25%, $color2 25%, $color2 75%, $color1 75%);
  background-size: $size $size;
  background-position: 0 0, $size/2 $size/2;
  position: relative;
  width: 34px;
  height: 34px;
  border-radius: 28px;
  display: inline-block;
  border: solid 1px #ededed;
  margin-right: 18px;
  cursor: pointer;
  @include phone {
    width: 30px;
    height: 30px;
    margin-left: 0px;
    box-sizing: border-box;
  }
}

.color_picker_non_dropper_palette {
  @extend %palette;
}

.color_picker_dropper_palette {
  @extend %palette;
  margin-right: 0px;
}

.color_picker_palettes {
}

.color_picker_pickerButton {
}

.color_picker_swatchesPicker {
}
.custom_color_picker_container {
}
.custom_color_picker_editable_input_container {
}

.custom_color_picker_input_label {
}
.custom_color_picker_input_container {
}

.custom_color_picker_input_container:hover {
}

.custom_color_picker_input_container:focus-within {
}

.row {
}

.colorPicker_container {
}

.design_component {
}

.section_header_color {
}

.section_header_border {
}

.modal_footer {
}

.button_samples {
}

.button_samples_container {
}

.input_container_width {
}

.input_container_corner {
}

.sliderWithInput_label {
}

.sliderWithInput_content {
}

.sliderWithInput_input {
}

.sliderWithInput_input:focus {
}

// Chrome, Disable number input arrow buttons
.sliderWithInput_input::-webkit-inner-spin-button,
.sliderWithInput_input::-webkit-outer-spin-button {
}

.slider {
}

// Chrome slider thumb
.slider::-webkit-slider-thumb {
}

// Chrome slider track
.slider::-webkit-slider-runnable-track {
}

// Chrome slider track on Focus
.slider:focus::-webkit-slider-runnable-track {
}

// Mozila slider thumb
.slider::-moz-range-thumb {
}

// Mozila slider track
.slider::-moz-range-track {
}

// Mozilla slider track active bar
.slider::-moz-range-progress {
}

// MS slider thumb
.slider::-ms-thumb {
}

// MS slider track container
.slider::-ms-track {
}

// MS slider track
.slider::-ms-fill-lower {
}
.slider::-ms-fill-upper {
}

// MS slider track on Focus
.slider:focus::-ms-fill-lower {
}
.slider:focus::-ms-fill-upper {
}
.hue_pointer {
}

.vertical_line {
}
.navbar_constainer {
}
.navbar_settingOptions {
}
.navbar_button {
}
.PreviewComponent_preview_container {
}
.PreviewComponent_header {
}
.PreviewComponent_button {
}

.header_ButtonText {
}
.header_ButtonLink {
}
.settingTab {
}
.errorMessage {
}
.checkBoxes {
}
.checkbox {
}
.checkbox_label {
}
.modal_footer {
}
.button_name_feild {
}
.section_content {
}
.textInput_errorIcon {
}
.textInput_input {
}
.textInput_input::placeholder {
}
