%panel_button {
    padding: 8.5px 24px;
    border-style: none;
  }

  %button {
    font-size: 14px;
}

.button_primary {
    @extend %button;
    @extend %panel_button;
    color: #fff;
    background-color: #0261ff;
}

.button_secondary {
    @extend %panel_button;
    @extend %button;
    border: 1px solid #4990e2;
    background: #fff;
    color: #4990e2;
}
