@import '~wix-rich-content-common/dist/statics/styles/mixins';
@import '~wix-rich-content-common/dist/statics/styles/palette';

.container {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba($primary-text-color-tuple, 0.1);
    &:hover:not(.disabled) {
        color: $action-color;
        background-color: rgba($action-color-tuple, 0.2);
    }
}
