@import '~wix-rich-content-common/dist/statics/styles/mixins';
@import '~wix-rich-content-common/dist/statics/styles/palette';
.cell {
    position: relative;
    background-color: transparent;
    vertical-align: initial;
    text-align: right;
    border: 1px solid rgba($primary-text-color-tuple, 0.2);
    padding: 0;
    &.header {
        background-color: rgba($primary-text-color-tuple, 0.04);
        font-weight: unset;
    }
    &.selected {
        z-index: 2;
    }
    .editing {
        box-shadow: 0 0 7px 0 rgba($primary-text-color-tuple, 0.1);
        border: solid 1px #DDD;
        background-color: var(--ricos-background-color,#fff);
        width: calc(100% + 36px);
        height: max-content;
        top: 0;
        left: -20px;
        position: relative;
        z-index: 1;
    }
    .selected {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;
    }
    .selected:not(.editing):not(.singleSelection) {
        background-color: rgba($action-color-tuple, 0.2);
    }
}

.hideLastBlock {
    &.editorWrapper {
        :global(.public-DraftEditor-content) > div > :last-child {
            height: 1px;
        }
    }
    &.viewerWrapper {
        & > div > div > div > :last-child {
            height: 1px;
        }
    }
}

.hideFirstBlock {
    &.editorWrapper {
        :global(.public-DraftEditor-content) > div > :first-child {
            height: 1px;
        }
    }
    &.viewerWrapper {
        & > div > div > div > :first-child {
            height: 1px;
        }
    }
}

.editorWrapper:not(.editing) {
    @media only screen and (min-width: 640px) {
        pointer-events: none;
    }
}


.editor {
    height: 100%;
    caret-color: transparent;
    &.edit {
        caret-color: unset;
        padding: 10px 26px 10px 29px;
        width: 100%;
        @media only screen and (max-width: 640px) {
            padding: 10px 0px 10px 10px;
        }
    }
    &.view {
        padding: 10px;
    }
}

.editingToolbarWrapper {
    position: absolute;
    top: -40px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.06);
    border: solid 1px rgba(51, 51, 51, 0.1);
    background-color: #ffffff;
    border-radius: 2px;
}

.selectAll {
    width: 20px;
    max-width: 20px;
    height: 20px;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.4);
    &.selected {
        border: 1px double $action-color;
    }
}

.disableSelection {
    ::selection { 
        background: transparent; 
    }
    ::-moz-selection { 
        background: transparent; 
    }
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
