@import '~wix-rich-content-common/dist/statics/styles/mixins';
@import '~wix-rich-content-common/dist/statics/styles/palette';
.container {
    position: relative;
    border: solid 1px #e0e0e0;
    background-color: #ffffff;
    &.selected {
        border: 1px double $accent-color;
        background-color: $accent-color;
        opacity: 0.1;
    }
    .colResizer, .rowResizer {
        z-index: 1;
        position: absolute;
    }
    .colResizer {
        top: 0;
        right: 0;
        width: 5px;
        cursor: col-resize;
        &:hover {
            border-right: 1px solid $accent-color;
        }
    }
    .rowResizer {
        bottom: 0;
        left: 0;
        height: 5px;
        width: 100%;
        cursor: row-resize;
        &:hover {
            border-bottom: 1px solid $accent-color;
        }
    }
}
