.container {
    position: relative;
    .colResizer, .rowResizer {
        z-index: 1;
        position: absolute;
    }
    .colResizer {
        top: 0;
        right: 0;
        width: 5px;
        cursor: col-resize;
    }
    .rowResizer {
        bottom: 0;
        left: 0;
        height: 5px;
        width: 100%;
        cursor: row-resize;
    }
}
