@import '~wix-rich-content-common/dist/statics/styles/mixins';
@import '~wix-rich-content-common/dist/statics/styles/palette';

.container {
    padding: 0;
    height: 20px;
    position: relative;
    &.selected {
        border-right: 1px solid $action-color;
    }
    &.selectAll {
        border: none !important;
    }
}