.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &.active {
        background-color: rgb(33, 133, 208);
        color: white;
    }
    &:hover {
        svg {
            visibility: visible;
        }
    }
    svg {
        &.col {
            transform: rotate(90deg);
        }
        visibility: hidden;
    }
}


.add {
    width: 16px;
    height: 18px;
    position: absolute;
    right: -7px;
    bottom: 0;
    &.addRow {
        right: 0px !important;
        bottom: -7px !important;
    }
}