@import '~wix-rich-content-common/dist/statics/styles/mixins';
@import '~wix-rich-content-common/dist/statics/styles/palette';

    .container {
        position: relative;
        height: 100%;
        width: 100%;
        .dragAndDrop {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            &.active, &.selectAll {
                background-color: $action-color;
                color: white;
            }
            &.selectAll {
                opacity: 0.4;
            }
            &:hover:not(.active):not(.selectAll):not(.dragging) {
                background-color: rgba(0, 0, 0, 0.2);
                svg {
                    visibility: visible;
                }
            }
            svg {
                &.horizontal {
                    transform: rotate(90deg);
                }
                visibility: hidden;
            }
        }
    }
    
