@import '~wix-rich-content-common/dist/statics/styles/mixins';
@import '~wix-rich-content-common/dist/statics/styles/palette';
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &.active, &.selectAll {
        background-color: $accent-color;
    }
    &.active {
        color: white;
    }
    &.selectAll {
        opacity: 0.4;
    }
    &:hover {
        svg {
            visibility: visible;
        }
    }
    svg {
        &.col {
            transform: rotate(90deg);
        }
        visibility: hidden;
    }
}


.add {
    width: 16px;
    height: 18px;
    position: absolute;
    right: -7px;
    bottom: 0;
    z-index: 2;
    &.addRow {
        right: 0px !important;
        bottom: -7px !important;
    }
}