@import '~wix-rich-content-common/dist/statics/styles/mixins';
@import '~wix-rich-content-common/dist/statics/styles/palette';

.resizer {
    z-index: 1;
    position: absolute;

    &.horizonResizer {
        top: 0;
        right: 0;
        width: 5px;
        height: 20px;
        cursor: col-resize;
        &:hover {
            border-right: 1px solid $action-color;
        }
    }

    &.verticalResizer {
        bottom: 0;
        left: 0;
        height: 5px;
        width: 20px;
        cursor: row-resize;
        &:hover {
            border-bottom: 1px solid $action-color;
        }
    }
}

    
