@import '~wix-rich-content-common/dist/statics/styles/palette';

.textInput {
  position: relative;
}

.textInput_input {
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: $modal-input-color;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  padding-left: 37px;

  &::placeholder {
    opacity: 0.4;
  }
  &:hover {
    border-color: black;
  }
}

.textInput_prefixIcon,
.textInput_suffixIcon {
  position: absolute;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 24px;
  opacity: 0.6;
  color: #000000;
}

.textInput_prefixIcon {
  left: 7px;
}

.textInput_suffixIcon {
  right: 11px;
}
