@import '~wix-rich-content-common/dist/statics/styles/mixins';

$TITLE_HEIGHT: 0px;
$FOOTER_HEIGHT: 100px;

.gallerySettings_settingsContainer {
  padding: 0;
}

.gallerySettings_settingsContainerMobile {
  padding: 18px;
}

.gallerySettings_title {
  font-size: 20px;
  width: 100%;
  color: #333333;
  line-height: 30px;
  padding: 24px 0 0 24px;
  margin: 0;
  position: relative;
  top: 0;
  background-color: #fff;
  z-index: 5;
}

.gallerySettings_tabsContainer {
  margin-top: 24px;
  .divider {
    margin-top: 24px;
    width: 100%;
    height: 1px;
    opacity: 0.3;
    background-color: #000000;
  }
  @include phone {
    margin-top: 0;
  }
}

.gallerySettings_divider {
  border: none;
  border-bottom: 1px solid #ededed;
  margin: 24px auto;
}

.gallerySettings_spacer {
  height: 12px;
  display: block;
}

.gallerySettings_label {
  font-size: 14px;
}

.gallerySettings {
  height: calc(100% - #{$TITLE_HEIGHT} - #{$FOOTER_HEIGHT});
  margin: $TITLE_HEIGHT auto $FOOTER_HEIGHT auto;
  overflow-y: auto;
  overflow-x: hidden;
}
