@import "~wix-rich-content-common/dist/statics/styles/mixins";
@import "~wix-rich-content-common/dist/statics/styles/palette";

.button_sample {
  box-sizing: border-box;
  padding: 11px;
  font-size: 14px;
  padding: 11px 23px;
  border-style: none;
  cursor: pointer;
}
.button_sample_container {
  position: relative;
  width: fit-content;
  display: inline-block;
  margin-right: 22px;
  margin-bottom: 24px;
}

.button_sample_container:nth-child(3n) {
  margin-right: 0px;
  @include phone {
    margin-right: 22px;
  }
}

.picked {
  position: absolute;
  right: -6px;
  top: -6px;
}
