@import "~wix-rich-content-common/dist/statics/styles/palette";
@import "~wix-rich-content-common/dist/statics/styles/mixins";
.container {
  position: relative;
  padding-bottom: 18px;
  @include phone{
    padding-bottom: 10px;
  }
}

.overlay {
  position: absolute;
  top: -1px;
  right: -1px;
  border-radius: 28px;
  z-index: -1;
  width: 38px;
  height: 38px;
  background: #0261ff;
  @include phone {
    width: 32px;
    height: 32px;
  }
}

.color_picker {
  display: block;
  width: 100%;
}

.label {
  width: 50%;
  height: auto;
  display: inline-block;
}

.picker {
  width: 50%;
  height: auto;
  direction: rtl;
  display: inline-block;
}

.picked {
  position: absolute;
  right: -5px;
  top: 1px;
}

.dropper {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 9px;
  right: 8px;
  @include phone {
    top: 6px;
    right: 5px;
  }
}

.colorBoard {
}

$color1: #fff;
$color2: #eeeeee;
$size: 10px;
.palette {
  background-image: linear-gradient(
      45deg,
      $color1 25%,
      transparent 25%,
      transparent 75%,
      $color1 75%
    ),
    linear-gradient(45deg, $color1 25%, $color2 25%, $color2 75%, $color1 75%);
  background-size: $size $size;
  background-position: 0 0, $size/2 $size/2;
  position: relative;
  width: 36px;
  height: 36px;
  border-radius: 28px;
  display: inline-block;
  border: solid 1px #ededed;
  margin-left: 18px;
  cursor: pointer;
  @include phone {
    width: 30px;
    height: 30px;
    margin-left: 16px;
  }
}

.palettes {
  width: 100%;
  text-align: right;
  padding-top: 18px;
  @include phone {
    padding-top: 31px;
    padding-bottom: 12px;
  }
}

.pickerButton {
  width: 36px;
  height: 36px;
  border-radius: 28px;
  border: 1px solid #f3f3f3;
  box-sizing: border-box;
  cursor: pointer;
  @include phone {
    width: 30px;
    height: 30px;
  }
}

.swatchesPicker {
  position: absolute;
  top: 30;
  right: 30;
  z-index: 11;
}
