@import "~wix-rich-content-common/dist/statics/styles/palette";
@import "~wix-rich-content-common/dist/statics/styles/mixins";
.container {
  position: relative;
  padding-bottom: 20px;
  @include phone {
    padding-bottom: 3px;
  }
}

.overlay {
  position: absolute;
  top: -1px;
  right: -1px;
  border-radius: 28px;
  z-index: -1;
  width: 38px;
  height: 38px;
  background: #0261ff;
  @include phone {
    width: 32px;
    height: 32px;
  }
}

.color_picker {
  height: 36px;
  width: 100%;
  position: relative;
  @include phone {
    padding-bottom: 6px;
    height: 30px;
  }
}

.label {
  position: absolute;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  top: calc(50% - 10px);
  left: 0px;
}

.picker {
  width: 50%;
  height: auto;
  direction: rtl;
  display: inline-block;
}

.picked {
  position: absolute;
  right: -2px;
  top: 1px;
  @include phone {
    right: -2px;
    top: -4px;
  }
}

.dropper {
  position: absolute;
  width: 21px;
  height: 21px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

$color1: #fff;
$color2: #eeeeee;
$size: 10px;
%palette {
  background-image: linear-gradient(
      45deg,
      $color1 25%,
      transparent 25%,
      transparent 75%,
      $color1 75%
    ),
    linear-gradient(45deg, $color1 25%, $color2 25%, $color2 75%, $color1 75%);
  background-size: $size $size;
  background-position: 0 0, $size/2 $size/2;
  position: relative;
  width: 34px;
  height: 34px;
  border-radius: 28px;
  display: inline-block;
  border: solid 1px #ededed;
  margin-right: 18px;
  cursor: pointer;
  @include phone {
    width: 30px;
    height: 30px;
    margin-left: 0px;
    box-sizing: border-box;
  }
}

.non_dropper_palette {
  @extend %palette;
}

.dropper_palette {
  @extend %palette;
  margin-right: 0px;
}

.palettes {
  width: 100%;
  text-align: right;
  height: 36px;
  padding-top: 19px;
  @include phone {
    height: 30px;
    padding-bottom: 8px;
    padding-top: 25px;
  }
}

.pickerButton {
  width: 36px;
  height: 36px;
  border-radius: 28px;
  border: 1px solid #b2c1ce;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  @include phone {
    width: 30px;
    height: 30px;
  }
}

.swatchesPicker {
  position: absolute;
  top: 30;
  right: 30;
  z-index: 11;
}
