.color_picker{
  display: block;
  width: 100%;
  height: 42px;
}

.label{
  width: 50%;
  height: auto;
   
}

.picker{
  width: 50%;
  height: auto;
  float: right;
  direction: rtl;

}

.palette{
  width: 56px;
  height: 56px;
  border-radius: 28px;
  display: inline-block;
  border: solid 1px #ededed;
  background-color: #b5d1ff;
  margin-left: 7px;
  cursor: pointer;
}
.colorBoard{
  padding-top: 15px;
  padding-bottom: 18px;
}
.palettes{
  width: 100%;
  text-align: right;
  padding-bottom: 18px;
}

.pickerButton{
  width: 30px;
  height: 30px;
  border: 1px solid #B8C6D2;
  border-radius: 10px;
  box-sizing: border-box;
}

.swatchesPicker{
  position: absolute;
  top: 30;
  right: 30;
  z-index: 11;
}

.checkboard {
 
}