.button_container {
  box-sizing: border-box; 
  display: inline-block; 
  margin: 5px;
  padding: 12px;
  border-style: none;
  border-width: 0px;
  text-decoration: none;
}
.button_text{
  text-align: center;
  height: 16px;
  font-size: 14px;
  line-height: 16px;
}