.row{
  height: auto;
  width: 100%;
  border-bottom: 1px solid #EDEDED;
  padding-bottom: 20px;
  padding-top: 20px;
}
.design_component{ 
}

.radioItem {
  label{
    display: block;
    padding: 8px;
  }
}

.button_samples{
   text-align: center;    
}
