.navbar {
  height: 50px;
  background: #0060ff;
  color: #fff;
}
.header {
  height: 20px;
  background: #0056e5;
}
.settingOptions {
  height: 21px;
  font-size: 14px;
  padding: 15px 14px;
}
.button {
  height: 100%;
  width: 50%;
  display: inline-block;
  background: inherit;
  border: none;
  font-size: 13px;
  text-align: left;
  font-weight: 300;
  line-height: 1.62;
  color: #ffffff;
}
