.navbar{
    height: 50px;
    background: #0060FF;
    color: #fff;
}
.header{
    height: 20px;
    background: #0056E5;
}
.settingOptions{
    height: 21px;
    font-size: 14px;
    padding: 15px 20px;
}
.button {
    height: 100%;
    width: 50%;
    display: inline-block;
    background: inherit;
    border: none;
    color: #fff;
}