.preview_container {
    height: auto ;
    width: 100%;
    background: #F2F2F2;
}
.header{
    font-size: 10px;
    color: #D3D3D3;
    width: 100%;
    text-align: center;
    padding-top: 11px;
}
.button{
    text-align: center;
    padding-top: 6px;
    padding-bottom: 14px;
}
.button_container {
    box-sizing: border-box; 
    display: inline-block; 
    margin: 5px;
    padding: 11px 24px;
    border-style: none;
    font-size: 14px;
    border-width: 0px;
    text-decoration: none;
  }
  