.circle {
  width: 13px;
  height: 13px;
  border: 1px solid #fff;
  border-radius: 13px;
}

.saturation_pointer {
  position: relative;
}

.top_path {
  position: absolute;
  top: 0;
  left: 7px;
  background: #fff;
  width: 1px;
  height: 3px;
}

.bottom_path {
  position: absolute;
  bottom: 0;
  left: 7px;
  background: #fff;
  width: 1px;
  height: 3px;
}
.left_path {
  position: absolute;
  bottom: 7px;
  left: 0px;
  background: #fff;
  width: 3px;
  height: 1px;
}
.right_path{
    position: absolute;
    bottom: 7px;
    right: 0px;
    background: #fff;
    width: 3px;
    height: 1px;
}