@import "~wix-rich-content-common/dist/statics/styles/mixins";
@import "~wix-rich-content-common/dist/statics/styles/palette";

.header_ButtonText {
  font-size: 14px;
  margin: 6px 0 8px 0;
  line-height: 1.5;
  height: 22px;
  font-weight: normal;
  @include phone {
    margin: 0px 0px;
    font-weight: normal;
    margin-top: 4px;
  }
}
.header_ButtonLink {
  font-size: 14px;
  margin: 9px 0 7px 0;
  line-height: 1.5;
  height: 22px;
  font-weight: normal;
  @include phone {
    margin: 2px 0;
    margin-bottom: 1px;
    font-weight: normal;
  }
}
.errorMessage {
  color: #ee5951;
  font-size: 12px;
  padding-top: 7px;
  @include phone {
    padding-top: 13px;
    height: 20px;
    width: 213px;
  }
}
.checkBoxes {
  padding-top: 13px;
  @include phone {
    padding-top: 22px;
  }
}
.checkbox {
  margin-bottom: 15px;
  outline: none;
  @include phone {
    margin-bottom: 15px;
  }
}
.checkbox_label {
  font-size: 14px;
  font-weight: normal;
}
.modal_footer {
  padding: 30px 0px;
}
.button_name_feild {
  padding-bottom: 9px;
  @include phone {
    padding-bottom: 15px;
  }
}
.section_content {
  padding-right: 30px;
  padding-top: 3px;
  input[type="text"] {
    border-radius: 0px;
  }
  @include phone {
    padding-right: 0px;
  }
}
.textInput_errorIcon {
  width: 18px;
  height: 18px;
}
