@import "~wix-rich-content-common/dist/statics/styles/mixins";
@import "~wix-rich-content-common/dist/statics/styles/palette";

.header_text {
  font-size: 14px;
  margin: 8px 0 8px 0;
  line-height: 1.5;
  height: 22px;
  font-weight: bold;
  @include phone {
    font-weight: normal;
  }
}
.errorMessage {
  color: #ee5951;
  font-size: 12px;
  padding-top: 6px;
  @include phone {
    padding-top: 4px;
    height: 36px;
    width: 213px;
  }
}
.checkBoxes {
  padding-top: 33px;
  @include phone {
    padding-top: 22px;
  }
}
.checkbox {
  margin-bottom: 14px;
}
.checkbox_label {
  font-size: 14px;
  font-weight: bold;
}
.modal_footer {
  padding: 30px 0px;
}
.button_name_feild {
  padding-bottom: 6px;
}
.section_content {
  padding-right: 30px;
  @include phone {
    padding-right: 0px;
  }
}
.textInput_errorIcon {
  width: 18px;
  height: 18px;
}
