@import "~wix-rich-content-common/dist/statics/styles/mixins";
@import "~wix-rich-content-common/dist/statics/styles/palette";

.scrollbar_thumb {
  background: #000000;
  border-radius: 4px;
  width: 4px;
  margin-left: -15px;
  cursor: pointer;
}
.customize_scrollbar_container {
  margin-right: -41px;
  margin-top: 5px;
}

.infinite_scroll_component {
  height: 100%;
  position: relative;
}

.error_message_container {
  text-align: center;
  margin-top: calc(25% - 54px);
}
.giphy_selecter_infinite_scroll {
  width: calc(100% - 15px);
  @include phone {
    width: 100%;
  }
}

.InfiniteScroll_container{
  margin-left: 10px;
}
.spinner_container{
  margin-left: calc(50% - 20px);
  margin-top: calc(25% - 20px);
}