@import "~wix-rich-content-common/dist/statics/styles/mixins";
@import "~wix-rich-content-common/dist/statics/styles/palette";

.item_container {
  margin-right: 11px;
  display: inline-block;
  width: 186px;
  margin-bottom: 21px;
  box-sizing: border-box;
  @include phone {
    width: calc(100vw - 32px);
    margin-bottom: 24px;
  }
}

.thumbnail_container {
  height: 100px;
  max-width: 100%;
  @include phone {
    height: 150px;
    width: calc(100vw - 40px);
  }
}

.image {
  height: 100px;
  width: 184px;
  cursor: pointer;
  @include phone {
    height: 150px;
    width: calc(100vw - 40px);
  }
}
.image:hover {
  border: solid 2px #9a87ce;
  box-sizing: border-box;
}

.description_container {
  height: auto;
  width: 100%;
  font-size: 11px;
  overflow: hidden;
  @include phone{
    height: auto;
  }
}

.clearFloating {
  clear: both;
}

.video_title {
  margin-top: 11px;
  height: 40px;
  font-size: 14px;
  color: #000000;
  overflow: hidden;
  line-height: 1.43;
  @include phone {
    margin-top: 8px;
    height: auto;
  }
}

.video_publisher_name {
  margin-top: 4px;
  height: 16px;
  font-size: 12px;
  line-height: 1.33;
  color: #969696;
  overflow: hidden;
}
.video_publish_date {
  margin-top: 4px;
  height: 16px;
  font-size: 12px;
  line-height: 1.33;
  color: #969696;
}
