.youtube_navbar_container {
  background-color: #9a87ce;
  width: 100vh;
  height: 50px;
}

.youtube_back_arrow_button {
  background: inherit;
  border: solid #fff;
  border-width: 0 1px 1px 0;
  display: inline-block;
  height: 8px;
  width: 8px;
  transform: rotate(135deg);
}
.youtube_back_arrow_container {
  width: 28px;
  height: 33px;
  float: left;
  padding-top: 13px;
  padding-left: 22px;
}

.youtube_navbar_title {
  width: calc(100vw - 100px);
  height: 50px;
  float: left;
  font-size: 16px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  padding-top: 14px;
}
.youtube_add_button_container {
  position: relative;
  color: #fff;
  width: 50px;
  height: 50px;
  text-align: right;
  float: left;
}
.youtube_add_icon_container{
  position: absolute;
  top: 17px;
  right: 16px;
  width: 16px;
  height: 16px;
}