.PlusIcon_container {
  position: absolute;
  top: 17px;
  right: 20px;
  width: 16px;
  height: 16px;
}
.PlusIcon_vertical {
  position: absolute;
  top: 0;
  right: 7px;
  width: 2px;
  height: 16px;
  background: #fff;
}
.PlusIcon_horizontal {
  position: absolute;
  top: 7px;
  right: 0px;
  width: 16px;
  height: 2px;
  background: #fff;
}
