@import "~wix-rich-content-common/dist/statics/styles/mixins";
@import "~wix-rich-content-common/dist/statics/styles/palette";

.search_input_container {
  position: relative;
  padding: 22px 20px 0;
  height: 39px;
  @include phone {
    padding: 15px 20px 0;
  }
}

.search_icon_container {
  position: absolute;
  top: 31px;
  left: 19px;
  z-index: 1;
  width: 14px;
  height: 14px;
  @include phone {
    top: 25px;
    left: 21px;
  }
}

.error_icon_container {
  position: absolute;
  top: 29px;
  left: 19px;
  z-index: 1;
  width: 18px;
  height: 18px;
  @include phone {
    top: 23px;
    left: 20px;
  }
}

.cancel_search_icon {
  position: absolute;
  top: 34px;
  right: 139px;
  z-index: 1;
  cursor: pointer;
  @include phone {
    right: 20px;
    top: 28px;
  }
}

.button_primary {
  border: none;
  padding: 0px;
  width: 95px;
  display: inline-block;
  height: 36px;
  font-size: 16px;
  background: #9a87ce;
  cursor: pointer;
}

.button_primary:hover {
  opacity: 0.8;
}

.button_primary:disabled {
  background-color: #969696;
  color: rgba(255, 255, 255, 0.6);
  cursor: default;
}

.textInput {
  display: inline-block;
  @include phone {
    width: calc(100vw - 20px);
  }
}
.textInput_input {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #7a7a7a;
  width: 459px;
  max-height: 36px;
  margin-right: 24px;
  padding-left: 22px;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 34px;
  @include phone {
    -webkit-appearance: none;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #7a7a7a;
    width: calc(100vw - 40px);
  }
}

.textInput_input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
