@import "~wix-rich-content-common/dist/statics/styles/mixins";
@import "~wix-rich-content-common/dist/statics/styles/palette";

.youtube_video_component_container {
  margin-right: 11px;
  display: inline-block;
  width: 186px;
  margin-bottom: 19px;
  box-sizing: border-box;
  @include phone {
    width: calc(100vw - 32px);
    margin-bottom: 22px;
  }
}

.youtube_video_component_thumbnail_container {
  height: 100px;
  max-width: 100%;
  margin-top: 2px;
  @include phone {
    margin-top: 2px;
    height: 150px;
    width: calc(100vw - 40px);
  }
}

.youtube_video_component_image {
  height: 100px;
  width: 184px;
  cursor: pointer;
  @include phone {
    height: 150px;
    width: calc(100vw - 40px);
  }
}
.youtube_video_component_image:hover {
  outline: solid 2px #9a87ce;
}

.youtube_video_component_description_container {
  height: auto;
  width: 100%;
  font-size: 11px;
  overflow: hidden;
  @include phone {
    height: auto;
  }
}

.youtube_video_component_video_title {
  margin-top: 11px;
  height: 40px;
  font-size: 14px;
  color: #000000;
  overflow: hidden;
  line-height: 1.43;
  @include phone {
    margin-top: 8px;
    height: auto;
  }
}

.youtube_video_component_video_publisher_name {
  margin-top: 4px;
  height: 16px;
  font-size: 12px;
  line-height: 1.33;
  color: #969696;
  overflow: hidden;
}
.youtube_video_component_video_publish_date {
  margin-top: 4px;
  height: 16px;
  font-size: 12px;
  line-height: 1.33;
  color: #969696;
}
