@import "~wix-rich-content-common/dist/statics/styles/mixins";
@import "~wix-rich-content-common/dist/statics/styles/palette";

.scrollbar_thumb {
  background: #b2b2b2;
  border-radius: 4px;
  width: 4px;
  margin-left: 1px;
  cursor: pointer;
}

.scrollbar_thumb:hover {
  background: #000000;
}
.customize_scrollbar_container {
  margin-right: -41px;
  margin-top: 5px;
}

.infinite_scroll_component {
  height: 100%;
  position: relative;
}

.youtube_video_list_error_message_container {
  height: 24px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #969696;
  margin-top: calc(25% - 16px);
  @include phone {
    height: 48px;
  }
}

.youtube_video_list_InfiniteScroll_container {
  margin-left: 20px;
}
.youtube_video_list_spinner_container {
  margin-left: calc(50% - 17px);
  margin-top: calc(25% - 32px);
}
