@import '~wix-rich-content-common/dist/statics/styles/mixins';

%emoji_modal_arrow {
  border: solid #a6a6a6;
  border-width: 0 1px 1px 0;
  padding: 6px;
  position: absolute;
  background: #fff;
  display: block;
  z-index: 6;
  @include phone {
    display: none;
  }
}

.emoji_modal_arrow_down {
  @extend %emoji_modal_arrow;
  transform: rotate(45deg);
  left: 23px;
  bottom: -7px;
}

