
.card {    
    :global {
        .vertical-embed-link {
            cursor: default;
            display: flex;
            justify-content: center;
            text-decoration: none;
        }

        .vertical-embed-card {                                    
            width: 100%;
            border: solid 1px rgba(var(--ricos-text-color-tuple, #000000), 0.2);
            background-color: var(--ricos-background-color, #ffffff);


            .vertical-embed-image {
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                flex: 0 0 auto;

                &:hover {
                    filter: brightness(85%) contrast(115%);
                    cursor: pointer;
                }
            }


            .vertical-embed-imageLayout {
                width: 185px;
            }
        }

        .vertical-embed-right {
            padding: 0 9.6px 0 9.6px;
        }

        .vertical-embed-cardLayout {
            display: flex;
            flex-direction: row;
        }

        .vertical-embed-content {        

            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 32px;

            .vertical-embed-title {
                font-family: var(--ricos-custom-h2-font-family, LibreBaskerville);
                color: var(--ricos-text-color, #000000);                
                font-size: 20px;
                line-height: 1.4;                
                padding-right: 40px;

                &:hover {
                    cursor: pointer;
                    opacity: 0.6;
                }
            }

            .vertical-embed-subtitle, .vertical-embed-buttonText {
                font-family: var(--ricos-custom-p-font-family, Avenir);
                color: var(--ricos-text-color, #000000);
            }

            .vertical-embed-subtitle {
                padding-top: 12px;                
                font-size: 14px;
                line-height: 1.43;                
                padding-right: 40px;
            }
                
            .vertical-embed-button {
                background-color: var(--ricos-custom-button-color, var(--ricos-action-color, #000000));                
                display: flex;
                justify-content: center;                
                height: 40px;

                &:hover {
                    opacity: 0.7;
                    cursor: pointer;
                }
                &:focus {
                    opacity: 0.7;
                }
            }        


            .vertical-embed-buttonText {
                width: max-content;
                min-width: 113px;
                padding: 8px 16px 8px 16px;
                font-family: Avenir;
                line-height: 1.5;
                text-align: center;
                color: var(--ricos-background-color, #ffffff);                
            }



        }
    }

    &.slimLayout {
        :global {
            .vertical-embed-cardLayout {
                flex-direction: column;
            }
            .vertical-embed-imageLayout {
                width: unset;
                padding-bottom: 56.25%;
            }
            .vertical-embed-content {
                width: unset;
            }
        }
    }
}



@media only screen and (max-width: 549px) and (min-width: 280px) {
    .card {    

        :global {

            .vertical-embed-cardLayout {
                width: 280px;
                flex-direction: column;
            }

            .vertical-embed-imageLayout {
                width: unset;
                padding-bottom: 56.25%;
            }

            .vertical-embed-content {
                width: unset;
                padding: 20px;
                flex-direction: column;
            }

            .vertical-embed-title {
                max-width: 240px;
                padding-right: unset;
            }

            .vertical-embed-subtitle {
                padding-right: unset;
            }

            .vertical-embed-button {
                margin-top: 24px;
            }

            .rtl .vertical-embed-button {
                margin-right: 0;
            }

            .ltr .vertical-embed-button {
                margin-left: 0;
            }

            .vertical-embed-buttonText {
                width: 240px;
            }
        }
    }
}
