@import '~wix-rich-content-common/dist/statics/styles/mixins';

.fullscreen_mode,
.expand_mode {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100001;
  background: white;

  :global(.pro-gallery .ltr),
  :global(.pro-gallery .rtl) {
    direction: ltr !important;
  }
}

.expand_mode {
  padding-top: 70px;
  padding-left: 7px;
}

.nav_arrow_left,
.nav_arrow_right {
  position: fixed;
  > svg {
    filter: drop-shadow(0px 0px 0px black) !important;
  }
}

.nav_arrow_left {
  left: 16px;
}

.nav_arrow_right {
  right: 16px;
}

.close {
  box-sizing: border-box;
  z-index: 1001;
  padding: 10px;
  position: fixed;
  right: 62px;
  top: 0px;
  @include phone {
    right: 20px;
    top: 5px;
    > svg {
      width: 20px;
      height: 20px;
    }
  }
  background: transparent;
  border-radius: 4px;
  width: 25px;
  height: 25px;
  color: black;
  border: hidden;
  cursor: pointer;
}

.expand_button {
  box-sizing: border-box;
  z-index: 1001;
  padding: 10px;
  position: fixed;
  left: 12px;
  top: 0px;
  background: transparent;
  border-radius: 4px;
  width: 25px;
  height: 25px;
  color: black;
  border: hidden;
  cursor: pointer;
}

.title {
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info_container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 20px;
}

:global {
  @import '~pro-gallery/dist/statics/main.css';
}
