.testApp:not(.mobile)>div {
  width: 50%;
}

.testApp {
  display: flex;
  justify-content: flex-start;
}

.mobile {
  flex-direction: column;
}

.rcWrapper {
  border: 1px solid #3d8fd1;
}

h3 {
  margin: 10px 0px;
}

:not(.mobile)>div>.rcv {
  border-left-width: 0px;
}

:not(.mobile)>div>.rcWrapper {
  padding-left: 50px;
  padding-right: 50px;
}

.DraftEditor-root, div[class^='viewer'] {
  padding: 18px;
}