.container {
    font-family: HelveticaNeue;
    z-index: 4;
    position: absolute;
    top: -35px;
    height: 38px;
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 8px;
    transition: transform .15s cubic-bezier(.3,1.2,.2,1);
}