@import '~wix-rich-content-common/dist/statics/styles/mixins';
@import '~wix-rich-content-common/dist/statics/styles/palette';

.container {
  padding-right: 8px;
  padding-bottom: 6px; 
}
.infinite_scroll {
   height: 285px;
   overflow: auto;
   overflow-x: hidden;
   padding-right: 6px;
   @include phone {
     height: 87vh;
    margin-top:6px;

  }
  
}

.headerInfiniteScroll{
  padding-right: '18px';
  padding-bottom: '6px';
}
.infinite_scroll::-webkit-scrollbar {
  width: 4px;
  border-radius: 100px;
  @include phone {
    width: 0px;
  }
}

.infinite_scroll::-webkit-scrollbar-track {
  background: #ffffff; 
}

.infinite_scroll::-webkit-scrollbar-thumb {
  background: #000000; 
  border-radius: 100px;
  height: 90px;
}

.line {
  width: 100%;
  size: 0px;
  height: 2px;
  background-color: #c8c8c8;
  margin-top: 0px;

}

.trending {
  font-family: Helvetica;
  font-size: 10px;
  font-style: oblique;
  color: rgba(0, 0, 0, 0.3);
  width: 49%;
  display: inline-block;
}

.powerdByGiphy {
  font-family: Helvetica;
  font-size: 10px;
  font-style: oblique;
  color: rgba(0, 0, 0, 0.3);
  width: 50%;
  direction: rtl;
  display: inline-block;
}

.gif_img {
    img {
        width: 100%;
        margin-bottom: 18px;
       
         @include phone {
           width: 100%;
            margin-bottom: 21px;
         }    
    }  

    @include phone {
      margin-right: 0px;
     }
    cursor: pointer;
  }
  
  .spinner {
      @include phone {
        padding-top: 35vh;
      }   
      text-align: center;
  }