@import '~wix-rich-content-common/dist/statics/styles/mixins';
@import '~wix-rich-content-common/dist/statics/styles/palette';

.container {
    padding: 10px 10px 10px;
    @include phone {
        padding: 24px 18px 30px;
    }
}

.giphyUrlInputModal_textInput {
    margin: 8px 0 24px 0;
    input[type = 'url'] {
        padding-right: 18px;
    } 
}