@import "~wix-rich-content-common/dist/statics/styles/mixins";
@import "~wix-rich-content-common/dist/statics/styles/palette";

.container {
  padding-bottom: 17px;
  width: 100%;
  padding-top: 5px;
  display: block;
}

.infinite_scroll_container {
  position: absolute;
  width: calc(100% - 30px);
  left: 18px;
  bottom: 2px;
  z-index: 30;
  height: calc(100% - 59px);
  overflow: auto;
  padding-right: 6px;
  @include phone {
    position: relative;
    width: auto;
    left: auto;
    bottom: auto;
    transform: none;
    height: calc(100vh - 140px);
    margin-top: 6px;
  }
}

.headerInfiniteScroll {
  padding-right: "18px";
  padding-bottom: "6px";
}

.infinite_scroll_container::-webkit-scrollbar {
  width: 4px;
  @include phone {
    width: 0px;
  }
}

.infinite_scroll_container::-webkit-scrollbar-track {
  background: #ffffff;
}

.infinite_scroll_container::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 4px;
}

.line {
  width: 100%;
  size: 0px;
  height: 2px;
  background-color: #c8c8c8;
  margin-top: 0px;
}

.trending {
  font-family: Helvetica;
  font-size: 10px;
  font-style: oblique;
  color: rgba(0, 0, 0, 0.3);
  width: auto;
  float: left;
}

.powerdByGiphy {
  font-family: Helvetica;
  font-size: 10px;
  font-style: oblique;
  color: rgba(0, 0, 0, 0.3);
  width: auto;
  text-align: right;
  float: right;
  padding-right: 12px;
}

.gif_img {
  margin-bottom: 18px;
  img {
    background: #eee;
    min-height: 50px;
    width: 100%;
    display: block;
    @include phone {
      width: 100%;
      margin-bottom: 21px;
    }
  }

  @include phone {
    margin-right: 0px;
  }
  cursor: pointer;
}

.spinner {
  @include phone {
    padding-top: 35vh;
  }
  text-align: center;
}

.error_msg {
  line-height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 12px;
  color: #aaa;
  transform: translateX(-50%) translateY(-50%);
  padding: 5px 10px;
}
