@import '~wix-rich-content-common/dist/statics/styles/mixins';
@import '~wix-rich-content-common/dist/statics/styles/palette';

.infinite_scroll {
   height: 285px;
   overflow: auto;
   overflow-x: hidden;
   @include phone {
     height: 87vh;
    margin-top: 12px;

  }
  
}

/* width */
.infinite_scroll::-webkit-scrollbar {
  width: 4px;
  border-radius: 100px;
}

/* Track */
.infinite_scroll::-webkit-scrollbar-track {
  background: #ffffff; 
}

.infinite_scroll::-webkit-scrollbar-thumb {
  background: #000000; 
  border-radius: 100px;
  height: 90px;
}


.gif_img {
    img {
        width: 100%;
        height: 168px;
         @include phone {
           width: 100%;
            height:205px;
            margin-bottom: 21px;
         }
    }  
    cursor: pointer;
    margin-bottom: 18px;
    margin-right: 6px;
  }
  
  .spinner{
      @include phone{
        padding-top: 35vh;
      }   
      text-align: center;
  }