@import "~wix-rich-content-common/dist/statics/styles/mixins";
@import "~wix-rich-content-common/dist/statics/styles/palette";

.container {
  @include phone {
    padding: 24px 18px 30px;
  }
}

.search {
  width: 90%;
  height: 17px;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 300;
  color: black;
  border: 0px solid red;
  float: left;
}

.search::placeholder {
  opacity: 0.5;
}

.searchIcon {
  direction: rtl;
}

.line {
  width: 100%;
  size: 0px;
  border: solid 0.5px #c8c8c8;
  margin-top: 11px;
}

.trending {
  font-family: Helvetica;
  font-size: 10px;
  font-style: oblique;
  color: rgba(0, 0, 0, 0.3);
  width: 49%;
  display: inline-block;
}

.powerdByGiphy {
  font-family: Helvetica;
  font-size: 10px;
  font-style: oblique;
  color: rgba(0, 0, 0, 0.3);
  width: 49%;
  direction: rtl;
  display: inline-block;
}

.closeIcon {
  width: '11px';
  height: '11px';
}

.giphyUrlInputModal_textInput {
  // margin: 8px 0 6px 0;
  margin-bottom: 6px;
  input[type="url"] {
    padding-right: 18px;
  }
}
