@import "~wix-rich-content-common/dist/statics/styles/palette";
@import "~wix-rich-content-common/dist/statics/styles/fonts";

.hashtag {
  font: $ricos-link-font;
  color: $ricos-link-color;
  text-decoration: none;
}

.hashtag_hover span:hover {
  text-decoration: underline;
}
