@import "~wix-rich-content-common/dist/statics/styles/palette";

.hashtag {
  color: var(--ricos-action-color);
  text-decoration: none;
}

.hashtag_hover span:hover {
  text-decoration: underline;
}
