.htmlEditPanel {
  padding: 18px 0 15px;
}

.htmlEditPanel_input {
  margin: 18px 0 13px;
}

.htmlEditPanel_buttons {
  display: flex;
  justify-content: space-between;
}

.htmlEditPanel_button {
  height: 21px;
  font-size: 14px;
  line-height: 1.5;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.htmlEditPanel_primaryButton {
  padding-right: 0;
}

.htmlEditPanel_secondaryButton {
  padding-left: 0;
}
