.hideText{
    filter: blur(0.25em);
}

.hideBlock{
    background-color: rgba(0, 0, 0, 0.3);
    // filter: blur(30px);
    &>*{
        // background-color: rgba(0, 0, 0, 0.3);
        filter: blur(30px);
        // cursor: pointer;
        pointer-events: none;

        // &>*{
        //     pointer-events: none;
        // }
    }
}

.onHoverText{
    filter: blur(0.18em);
    cursor: pointer;
}

.revealSpoilerBtn{
    width: 142px;
    height: 40px;
    background-color: #ffffff;
    font-family: Helvetica;
    border: none;
    font-size: 16px;
    color: #000000;
    filter: none;

    &:hover:not([disabled]) {
        cursor: pointer;
    }

    // &:disabled {
    //     color: rgba(0, 0, 0, 0.4);
    // }
}

.spoilerWrapper{
    position: relative;
}

.spoilerDescription {
    text-align: center;
    padding: 18px 0;
    background: none;
    font-size: 14px;
    width: 100%;
    border: none;
    font-size: 16px;
    color: #ffffff;
    pointer-events: auto !important;
}

.descriptionAndRevealBtnWrapper{
    position: absolute;
    height: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    top: 40%;
    z-index: 1;
}