.hideText{
    filter: blur(0.25em);
}

.onHoverText{
    filter: blur(0.18em);
    cursor: pointer;
}

.hideBlock{
    &>*{
        filter: blur(30px);
        pointer-events: none;
    }
}

.hideBlock_gallery{
    div[class^="gallery-item-wrapper"]{
        filter: blur(30px);
    }

    div[class^="thumbnailItem"]{
             filter: blur(30px); 
    }

    &>*{
        pointer-events: none;
    }
}

.overlay {
    background-color: rgba(0, 0, 0, 0.3);
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.overlay_gallery {
    background: linear-gradient(0deg,transparent 50%, #202020);
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.revealSpoilerBtn{
    background-color: #ffffff;
    filter: none;
    border: none;
    width: max-content;
    color: #000000;
    max-width: 260px;
    height: 40px;
    padding:8px 16px;

    &>input{
        text-align: center;
        border: none;
        font-size: inherit;
        padding: 0;
        max-width: 228px;
    }
}

.onHoverBtn{
    &:hover {
        cursor: pointer;
        opacity:0.7
    }
}

.spoilerWrapper{
    height: 100%;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.spoilerDescription{
    text-align: center;
    background: none;
    display: flex;
    border: none;
    color: #ffffff;
    resize: none;
    font-family: helvetica;
    width: 90%;
    margin-left: 5%;
    pointer-events: auto !important;
    line-height: 24px;
    font-weight: 400;
}

.spoilerDescription_Mobile{
    font-size: 14px;
    margin-top: 12px;
    margin-bottom: 20px;
}

.spoilerDescription_Desktop {
    font-size: 16px;
    margin-top: 24px;
    margin-bottom: 32px;
}

.spoilerContainer{
    margin: 0;
    position: absolute;
    z-index: 1;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spoilerContainer_Gallery{
    position: absolute;
    z-index: 1;
    margin-top: 24px;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 0);
}