@import "~wix-rich-content-common/dist/statics/styles/palette";

.spoilerViewer_hideText{
    background-color: rgb(87, 85, 85);
    color: rgb(87, 85, 85);
}

.spoilerViewer_revealText{
    background-color: transparent;
    color: $accent-color;
}

.spoiler_inEditor{
    background-color: rgb(87, 85, 85);
    color: $accent-color;
}