.sideToolbarPanelWrapper {
  display: flex;
  padding: 12px;
  overflow: auto;
  justify-items: center;
  align-items: center;
  justify-content: center;
  height: max-content;
  max-height: 400px;

  .panelWithSearch {
    min-height: 400px;
  }
  .pluginsWrapper {
    width: 100%;
  }

  .searchWrapper {
    position: fixed;
    width: 296px;
    align-self: start;
    @media only screen and (max-width: 640px) {
      padding: 0;
    }
  }

  .pluginsSectionEmptyState,
  .pluginsSection {
    color: #000000;
  }

  .pluginsSectionEmptyState {
    line-height: 16px;
    font-size: 12px;
    text-align: center;
    white-space: pre;
    letter-spacing: 1px;
  }
  .withSearch {
    padding-top: 64px;
  }

  .pluginsSection {
    height: 28px;
    background-color: rgba(0, 0, 0, 0.06);
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 12px;
  }

  .buttonsWrapper {
    display: grid;
    justify-items: center;
    grid-row-gap: 12px;
    grid-auto-rows: 72px;
    grid-template-columns: 98px 98px 98px;
    .withSections {
      padding-top: 12px;
    }
    @media only screen and (max-width: 640px) {
      grid-row-gap: 8px;
      width: 100%;
      grid-template-columns: repeat(3, 1fr);
      margin-top: 0;
    }

    .buttonWrapper {
      display: flex;
      width: 100%;
      justify-content: center;
      text-align: center;
      cursor: pointer;

      .pluginName {
        font-size: 12px;
        line-height: 16px;
        color: #000000;
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.06);
      }
    }
  }
}
