.sideToolbarWrapper {
  position: absolute;
  z-index: 3;
  pointer-events: none;
}

@media only screen and (max-width: 800px) {
  .sideToolbarWrapper {
    position: fixed;
    bottom: 0;
    right: 0;
  }
}
